<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">
        <footer class="page-footer font-small blue fixed-bottom">
            <span sec:authorize="isAuthenticated()">| Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Выйти</a>
            </span>
            <div class="footer-copyright text-center py-3">© 2020
                <a href="#">РОСАТОМ Платформа отчетов</a>
            </div>
            <script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
            <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
        </footer>
    </div>

</div>
</body>
</html>