h1{
    color: #4a2bff;
}

h2{
    color: #ff171c;
}

h2.black{
    color: #000;
}

footer{
    margin-top:60px;
}

td .nav-link {
    padding: 0;
}

.table.calendar-table td {
    font-size: 13px;
}
.table.calendar-table td.date {
    font-size: 15px;
    font-weight: bold;
}